# master의 .gitignore로 바꾸긴 해야함

# test files
testfile/

# Java class files
#.class

# Ignore gradle files
#.gradle/
#build/

# eclipse Metadata
#.metadata/

# eclipse
#.classpath
#.project
#.settings/
#bin/

